.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 600;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14 {
  font-size: 14px;
}

.font-15 {
  font-size: 15px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-22 {
  font-size: 22px;
}

.font-24 {
  font-size: 24px;
}

.font-26 {
  font-size: 26px;
}

.font-30 {
  font-size: 30px;
}

.font-36 {
  font-size: 36px;
}

.font-40 {
  font-size: 40px;
}

.font-color-000000 {
  color: rgba(0, 0, 0, 1);
}

.font-color-FFFFFF {
  color: rgba(255, 255, 255, 1);
}

.font-color-555555 {
  color: rgba(85, 85, 85, 1);
}

.font-color-0057FF {
  color: rgba(0, 87, 255, 1);
}

.font-color-F04434 {
  color: rgba(240, 68, 52, 1);
}

.font-color-4560E6 {
  color: rgba(69, 96, 230, 1);
}

.font-color-07A656 {
  color: rgba(7, 166, 86, 1);
}

.font-color-F8BB08 {
  color: #f8bb08;
}

.font-color-7F7F7F {
  color: #7f7f7f;
}

.font-color-00FFFF {
  color: #0ff;
}

.font-color-4C4C4C {
  color: #4c4c4c;
}

.font-color-666666 {
  color: #666;
}

.font-color-333333 {
  color: #333;
}

.link-text-16px {
  font-size: 16px;
  color: #0057ff;
  line-height: 20px;
}

/*  font awesome
    ============================================================ */

.fa-arrow-right {
  color: darkgreen;
}

.fa-btc {
  color: goldenrod;
}

.fa-check {
  color: green;
}

.fa-flask {
  color: greenyellow;
}

.fa-remove {
  color: firebrick;
}
