html {
    height: 100%;
}

body {
    height: 100%;
    color: #777;
    background-color: #f2f2f2;
    font-family: open sans, helvetica neue, Helvetica, arial, sans-serif;
    font-size: 13px;
}

dl,
ol,
ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.bg-black {
    background-color: black;
}

.text-black {
    color: black;
}

.c333 {
    color: #333;
}

.c777 {
    color: #777;
}

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.monospace {
    font-family: menlo, consolas, monaco, lucida console, liberation mono, dejavu sans mono, bitstream vera sans mono, courier new, monospace;
}

td.time>div {
    position: relative;
    display: inline-block;
}

td.time :nth-child(2) {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    display: none;
    left: 50%;
    top: -50px;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}

td.time:hover :nth-child(2) {
    display: block;
}

.tdxxxwddd>* {
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.token-name {
    display: inline-block;
}

.vue {
    height: 100%;
}

.fullfill {
    min-height: calc(100% - 70px - 82px);
    border-bottom: 0.5px solid rgba(221, 221, 221, 1);
    padding-bottom: 50px;
}

@media (max-width: 767.98px) {
    .fullfill {
        padding-bottom: 30px;
    }
}

/*  overrides - bootstrap
    ============================================================ */

    a,
    a:hover,
    .btn-link,
    .page-link {
        color: #0057FF;
    }
    
    dl,
    ol,
    ul {
        margin: 0;
    }
    
    label {
        font-weight: 400;
    }
    
    .tooltip-inner {
        max-width: 320px;
    }
    
    .dropdown-menu {
        font-size: 14px;
        border-radius: 0;
        border: none;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
    }
    
    .dropdown-item:hover {
        color: #0057FF;
    }
    
    .dropdown-item:active {
        color: #fff;
    }
    
    .navbar-dark .navbar-nav .nav-link {
        color: rgba(255, 255, 255, 1);
    }
    
    @media (min-width: 992px) {
        .navbar-expand-lg .navbar-nav .nav-link {
            padding-right: 0;
            padding-left: 0;
            margin-left: 30px;
        }
    }
    