.icon40 {
    width: 40px;
    height: 40px;
}

.icon18 {
    width: 18px;
    height: 18px;
}

.icon16 {
    width: 16px;
    height: 16px;
}

.icon24 {
    width: 24px;
    height: 24px;
}

img[src=""],
img:not([src]) {
    opacity: 0;
}