html {
    height: 100%;
}

body {
    height: 100%;
    color: #777;
    background-color: #f2f2f2;
    font-family: open sans, helvetica neue, Helvetica, arial, sans-serif;
    font-size: 13px;
}

dl,
ol,
ul {
    list-style: none;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

.bg-black {
    background-color: black;
}

.text-black {
    color: black;
}

.c333 {
    color: #333;
}

.c777 {
    color: #777;
}

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.monospace {
    font-family: consolas, menlo, monaco, lucida console, liberation mono, dejavu sans mono, bitstream vera sans mono, courier new, monospace;
}

td.time {
    position: relative;
}

td.time :nth-child(2) {
    background-color: rgba(0, 0, 0, .8);
    color: white;
    display: none;
    left: 50%;
    top: -40px;
    padding: 10px;
    pointer-events: none;
    position: absolute;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1;
}

td.time:hover :nth-child(2) {
    display: block;
}

.tdxxxwddd>* {
    display: inline-block;
    max-width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.token-name {
    display: inline-block;
}

.vue {
    height: 100%;
}

.fullfill {
    min-height: calc(100% - 70px - 82px);
    border-bottom: 0.5px solid rgba(221, 221, 221, 1);
    padding-bottom: 50px;
}

@media (max-width: 767.98px) {
    .fullfill {
        padding-bottom: 30px;
    }
}

/*  .modal
    ============================================================ */

.vue-modal.loading .outer {
    border-radius: 3px;
}

.vue-modal.loading .progress {
    margin: 20px 30px;
    width: 300px;
}

.vue-modal.loading .progress-bar {
    width: 100%;
}

/*  font awesome
    ============================================================ */

.fa-arrow-right {
    color: darkgreen;
}

.fa-btc {
    color: goldenrod;
}

.fa-check {
    color: green;
}

.fa-flask {
    color: greenyellow;
}

.fa-remove {
    color: firebrick;
}

/*  overrides - bootstrap
    ============================================================ */

a,
.btn-link,
.page-link {
    color: #3498db;
}

dl,
ol,
ul {
    margin: 0;
}

label {
    font-weight: 400;
}

.tooltip-inner {
    max-width: 320px;
}

.dropdown-menu {
    font-size: 14px;
    border-radius: 0px;
    border: none;
    box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.1);
}

.dropdown-item:hover {
    color: #0057FF;
}

.dropdown-item:active {
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1);
}

@media (max-width: 768px) {
    .justify-content-end {
        justify-content: center !important;
    }
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0px;
        padding-left: 0px;
        margin-left: 30px;
    }
}

/*--------------------------- tables ---------------------------*/

.explorer-table-container {
    overflow-x: scroll;
}

.explorer-table {
    width: 100%;
    max-width: 100%;
    /* padding-bottom: 10px; */
    background-color: transparent;
    overflow-x: scroll;
}

.table-title {
    margin-top: 60px;
    margin-bottom: 30px;
}

@media (max-width: 767.98px) {
    .table-title {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.explorer-table th,
.explorer-table td {
    padding: 5px;
    vertical-align: middle;
    border-top: 0;
    white-space: nowrap;
}

.explorer-table thead th {
    vertical-align: middle;
    border-bottom: 0;
}

.explorer-table tbody {
    border-top: 0;
}

.explorer-table tr {
    height: 46px;
}

.explorer-table tr:nth-of-type(odd) {
    background: rgba(247, 247, 247, 1);
    box-shadow: 0px -1px 0px 0px rgba(243, 241, 241, 1);
}

.explorer-table tr:nth-of-type(even) {
    background: rgba(255, 255, 255, 1);
}

.list-table tr:nth-of-type(odd) {
    background-color: white;
}

.list-table tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.list-table th {
    text-align: left;
    height: 20px;
    vertical-align: middle;
}

.list-table tr {
    height: 50px;
}

.list-table tr.list-header {
    height: 46px;
    background-color: #e8e8e8;
}

.list-table th .align-right {
    text-align: right;
}

.list-table tr .align-right {
    text-align: right;
}

.list-table th .align-left {
    text-align: left;
}

.list-table tr .align-left {
    text-align: left;
}

.list-table td {
    padding: 5px;
    vertical-align: middle;
}

/*----------------------- font css -----------------------*/

.font-regular {
    font-weight: 400;
}

.font-bold {
    font-weight: 600;
}

.font-12 {
    font-size: 12px;
}

.font-14 {
    font-size: 14px
}

.font-15 {
    font-size: 15px;
}

.font-16 {
    font-size: 16px;
}

.font-18 {
    font-size: 18px;
}

.font-24 {
    font-size: 24px;
}

.font-40 {
    font-size: 40px;
}

.font-color-000000 {
    color: rgba(0, 0, 0, 1);
}

.font-color-FFFFFF {
    color: rgba(255, 255, 255, 1);
}

.font-color-555555 {
    color: rgba(85, 85, 85, 1);
}

.font-color-0057FF {
    color: rgba(0, 87, 255, 1);
}

.font-color-F04434 {
    color: rgba(240, 68, 52, 1);
}

.font-color-4560E6 {
    color: rgba(69, 96, 230, 1);
}

.font-color-07A656 {
    color: rgba(7, 166, 86, 1);
}

.font-color-F8BB08 {
    color: #F8BB08;
}

.font-color-7F7F7F {
    color: #7F7F7F;
}

.link-text-16px {
    font-size: 16px;
    color: #0057FF;
    line-height: 20px;
}

/*----------------------- icons -----------------------*/

.icon40 {
    width: 40px;
    height: 40px;
}

.icon18 {
    width: 18px;
    height: 18px;
}

.icon16 {
    width: 16px;
    height: 16px;
}

.icon24 {
    width: 24px;
    height: 24px;
}

img[src=""],
img:not([src]) {
    opacity: 0;
}

/*----------------------- tips -----------------------*/

.container-tip {
    position: relative;
    overflow: initial;
}

.container-tip .tip {
    position: absolute;
    left: calc(-50% + 26px);
    top: -48px;
    padding: 8px;
    /* font-size: 12px; */
    color: white;
    background-color: rgba(0, 0, 0, .7);
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 1060;
    display: none;
}

.container-tip .tip::before {
    content: "";
    width: 0;
    height: 0;
    border-top: 4px solid rgba(0, 0, 0, .7);
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    position: absolute;
    bottom: -4px;
    left: calc(50% - 4px);
    z-index: 1060;
}

.container-tip:hover .tip {
    display: block;
}

.container-tip img {
    margin-right: 10px;
}