<!doctype html>
<html>
<head>
    <th-block data-th-replace=fragments::head></th-block>
    <style>
        .info-and-pagination a {
            color: inherit;
            text-decoration: none;
        }

        tr>.ne:nth-child(1),
        tr>.ne:nth-child(2) {
            background-color: gainsboro;
        }

        tr>td:nth-child(3) {
            background-color: #eaeaea;
        }

        td,
        th {
            border-top-color: #ddd;
        }
    </style>
    <title>Nebulas Internal Transactions</title>
</head>
<body>
    <th-block data-th-replace=fragments::header></th-block>
    <th-block data-th-replace=fragments::title-and-breadcrumb></th-block>

    <!--    info and pagination
        ============================================================ -->
    <div class="container info-and-pagination">
        <div class=pull-left>
            <div class=mt20>A Total Of %1 Internal Transactions found</div>

            <div>
                (showing the last %2 records only)
                <label>
                    <a href="?type=all">
                        <!-- to check a radio, add "checked" attribute, i.e. <input type=radio name=type value=all checked> -->
                        <input type="radio" name="type" value="all" />
                        <b>All Types</b>
                    </a>
                </label>
                <label>
                    <a href="?type=noerror">
                        <input type="radio" name="type" value="noerror" />
                        <b>No Errors</b>
                    </a>
                </label>
                <label>
                    <a href="?type=error">
                        <input type="radio" name="type" value="error" />
                        <b>With Errors</b>
                    </a>
                </label>
            </div>
        </div>

        <th-block data-th-replace=fragments::pagination></th-block>
    </div>

    <!--    the table
        ============================================================ -->
    <div class="container mt20">
        <table class="table">
            <tr>
                <th>Block</th>
                <th>Age</th>
                <th>ParentTxHash</th>
                <th>Type</th>
                <th>From</th>
                <th></th>
                <th>To</th>
                <th>Value</th>
            </tr>

            <tr>
                <!-- ne = none empty, this class is required to set background-color -->
                <td class="ne">
                    <a href="block.html?id=%123456">%Block</a>
                </td>
                <td class="ne">%Age</td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <a href="txn/tx.html?id=%ParentTxHash">%ParentTxHash</a>
                </td>
                <td>%Type</td>
                <td>
                    <a href="address.html?id=%From">%From</a>
                </td>
                <td>
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </td>
                <td>
                    <a href="address.html?id=%To">%To</a>
                </td>
                <td>%Value</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-btc" aria-hidden="true"></span>
                    <a href="txn/tx.html?id=%ParentTxHash">%ParentTxHash</a>
                </td>
                <td>%Type</td>
                <td>
                    <a href="address.html?id=%From">%From</a>
                </td>
                <td>
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </td>
                <td>
                    <a href="address.html?id=%To">%To</a>
                </td>
                <td>%Value</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <a href="txn/tx.html?id=%ParentTxHash">%ParentTxHash</a>
                </td>
                <td>%Type</td>
                <td>
                    <a href="address.html?id=%From">%From</a>
                </td>
                <td>
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </td>
                <td>
                    <a href="address.html?id=%To">%To</a>
                </td>
                <td>%Value</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <a href="txn/tx.html?id=%ParentTxHash">%ParentTxHash</a>
                </td>
                <td>%Type</td>
                <td>
                    <a href="address.html?id=%From">%From</a>
                </td>
                <td>
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </td>
                <td>
                    <a href="address.html?id=%To">%To</a>
                </td>
                <td>%Value</td>
            </tr>

            <tr>
                <td class="ne">
                    <a href="block.html?b=123456">%Block</a>
                </td>
                <td class="ne">%Age</td>
                <td>
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    <a href="txn/tx.html?id=%ParentTxHash">%ParentTxHash</a>
                </td>
                <td>%Type</td>
                <td>
                    <a href="address.html?id=%From">%From</a>
                </td>
                <td>
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </td>
                <td>
                    <a href="address.html?id=%To">%To</a>
                </td>
                <td>%Value</td>
            </tr>

            <tr>
                <td class="ne">
                    <a href="block.html?b=123456">%Block</a>
                </td>
                <td class="ne">%Age</td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <a href="txn/tx.html?id=%ParentTxHash">%ParentTxHash</a>
                </td>
                <td>%Type</td>
                <td>
                    <a href="address.html?id=%From">%From</a>
                </td>
                <td>
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </td>
                <td>
                    <a href="address.html?id=%To">%To</a>
                </td>
                <td>%Value</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>
                    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    <a href="txn/tx.html?id=%ParentTxHash">%ParentTxHash</a>
                </td>
                <td>%Type</td>
                <td>
                    <a href="address.html?id=%From">%From</a>
                </td>
                <td>
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </td>
                <td>
                    <a href="address.html?id=%To">%To</a>
                </td>
                <td>%Value</td>
            </tr>

        </table>
    </div>

    <div class=container>
        <th-block data-th-replace=fragments::pagination></th-block>
    </div>
    <th-block data-th-replace=fragments::footer></th-block>
    <th-block data-th-replace=fragments::scripts></th-block>
</body>
</html>