<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nebulas.explorer.mapper.NebTransactionMapper">
    <resultMap id="BaseResultMap" type="NebTransaction">
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="hash" property="hash" jdbcType="VARCHAR"/>
        <result column="block_height" property="blockHeight" jdbcType="BIGINT"/>
        <result column="block_hash" property="blockHash" jdbcType="VARCHAR"/>
        <result column="from" property="from" jdbcType="VARCHAR"/>
        <result column="to" property="to" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="TINYINT"/>
        <result column="value" property="value" jdbcType="VARCHAR"/>
        <result column="nonce" property="nonce" jdbcType="BIGINT"/>
        <result column="timestamp" property="timestamp" jdbcType="TIMESTAMP"/>
        <result column="type" property="type" jdbcType="TINYINT"/>
        <result column="data" property="data" jdbcType="VARCHAR"/>
        <result column="gas_price" property="gasPrice" jdbcType="VARCHAR"/>
        <result column="gas_limit" property="gasLimit" jdbcType="VARCHAR"/>
        <result column="gas_used" property="gasUsed" jdbcType="VARCHAR"/>
        <result column="created_at" property="createdAt" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
      `id`,
      `hash`,
      `block_hash`,
      `block_height`,
      `from`,
      `to`,
      `status`,
      `value`,
      `nonce`,
      `timestamp`,
      `type`,
      `data`,
      `gas_price`,
      `gas_limit`,
      `gas_used`,
      `created_at`
  </sql>
    <select id="selectByHash" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `neb_transaction`
        WHERE `hash` = #{hash,jdbcType=VARCHAR}
    </select>

    <insert id="batchSaveNebTransaction" parameterType="NebTransaction" useGeneratedKeys="false">
        INSERT INTO `neb_transaction` (`id`, `hash`, `block_hash`, `block_height`, `from`, `to`, `status`, `value`,
        `nonce`, `timestamp`, `type`, `data`, `gas_price`, `gas_limit`, `gas_used`, `created_at`)
        VALUES
        <foreach collection="transactions" item="tx" separator=",">
            (
            #{tx.id}, #{tx.hash}, #{tx.blockHash}, #{tx.blockHeight}, #{tx.from}, #{tx.to}, #{tx.status}, #{tx.value},
            #{tx.nonce}, #{tx.timestamp}, #{tx.type}, #{tx.data}, #{tx.gasPrice}
            , #{tx.gasLimit}, #{tx.gasUsed}, #{tx.createdAt}
            )
        </foreach>
    </insert>

    <select id="selectByBlockHeight" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List"/>
        FROM `neb_transaction`
        WHERE `block_height` = #{blockHeight}
    </select>

    <insert id="saveNebTransaction" parameterType="NebTransaction" useGeneratedKeys="false">
        INSERT INTO `neb_transaction` (`id`, `hash`, `block_hash`, `block_height`, `from`, `to`, `status`, `value`,
        `nonce`, `timestamp`, `type`, `data`, `gas_price`, `gas_limit`, `gas_used`, `created_at`)
        VALUES
        (
            #{id}, #{hash}, #{blockHash}, #{blockHeight}, #{from}, #{to}, #{status}, #{value},
            #{nonce}, #{timestamp}, #{type}, #{data}, #{gasPrice}
            , #{gasLimit}, #{gasUsed}, #{createdAt}
            )
    </insert>

</mapper>