<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.nebulas.explorer.mapper.NebTransactionMapper">
    <sql id="Base_Column_List">
      `id`,
      `hash`,
      `block_hash`,
      `block_height`,
      `from`,
      `to`,
      `status`,
      `value`,
      `nonce`,
      `timestamp`,
      `type`,
      `data`,
      `gas_price`,
      `gas_limit`,
      `gas_used`,
      `created_at`
  </sql>
    <select id="getByHash" resultType="NebTransaction" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM `neb_transaction`
        WHERE `hash` = #{hash,jdbcType=VARCHAR}
    </select>

    <insert id="batchAddNebTransaction" parameterType="NebTransaction" useGeneratedKeys="false">
        INSERT INTO `neb_transaction` (`id`, `hash`, `block_hash`, `block_height`, `from`, `to`, `status`, `value`,
        `nonce`, `timestamp`, `type`, `data`, `gas_price`, `gas_limit`, `gas_used`, `created_at`)
        VALUES
        <foreach collection="transactions" item="tx" separator=",">
            (
            #{tx.id}, #{tx.hash}, #{tx.blockHash}, #{tx.blockHeight}, #{tx.from}, #{tx.to}, #{tx.status}, #{tx.value},
            #{tx.nonce}, #{tx.timestamp}, #{tx.type}, #{tx.data}, #{tx.gasPrice}
            , #{tx.gasLimit}, #{tx.gasUsed}, #{tx.createdAt}
            )
        </foreach>
    </insert>

    <select id="getByBlockHeight" resultType="NebTransaction" parameterType="java.lang.Long">
        SELECT <include refid="Base_Column_List"/>
        FROM `neb_transaction`
        WHERE `block_height` = #{blockHeight}
    </select>

    <insert id="addNebTransaction" parameterType="NebTransaction" useGeneratedKeys="false">
        INSERT INTO `neb_transaction` (`id`, `hash`, `block_hash`, `block_height`, `from`, `to`, `status`, `value`,
        `nonce`, `timestamp`, `type`, `data`, `gas_price`, `gas_limit`, `gas_used`, `created_at`)
        VALUES
            (
            #{id}, #{hash}, #{blockHash}, #{blockHeight}, #{from}, #{to}, #{status}, #{value},
            #{nonce}, #{timestamp}, #{type}, #{data}, #{gasPrice}
            , #{gasLimit}, #{gasUsed}, #{createdAt}
            )
    </insert>

</mapper>