<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments::head"/>
    <title>Accounts</title>
</head>
<body>
<th:block th:replace="fragments::header(currentNav='account')"/>
<div class="title-and-breadcrumb">
    <div class="container">
        <h4 class="pull-left">All Accounts</h4>
        <ol class="breadcrumb pull-right">
            <li>Home</li>
            <li class="active">Account</li>
        </ol>
    </div>
</div>
<th:block th:replace="fragments::pagination(currentPage=${currentPage},totalPage=${totalPage},baseUrl='/accounts')"/>
<div class="container mt20">
    <table class=table>
        <tr>
            <th>Rank</th>
            <th>Address</th>
            <th>Balance</th>
            <th>Percentage</th>
            <th>TxCount</th>
        </tr>
        <tr th:each="address,iterStat : ${addressList}">
            <td th:text="${address.rank}">%Rank</td>
            <td>
                <a th:href="@{/address/{hash}(hash=${address.hash})}" th:text="${address.hash}">%Address</a>
            </td>
            <td th:text="${address.balance.toPlainString()}">%Balance</td>
            <td th:text="${address.percentage.toPlainString()}">%Percentage</td>
            <td th:text="${address.txCnt}">%TxCount</td>
        </tr>
    </table>
</div>
<div class="container">
    <th:block th:replace="fragments::pagination(currentPage=${currentPage},totalPage=${totalPage},baseUrl='/accounts')"/>
</div>
<th:block th:replace="fragments::footer"/>
</body>
<th:block th:replace="fragments::scripts"/>
</html>