<!doctype html>
<html>
<head>
    <th-block data-th-replace=fragments::head></th-block>
    <title>Accounts</title>
</head>
<body>
    <th-block data-th-replace=fragments::header></th-block>
    <th-block data-th-replace=fragments::title-and-breadcrumb></th-block>

    <!--    info and pagination
        ============================================================ -->
    <div class="container info-and-pagination">
        <div class=pull-left>
            <div class=mt20>A total of %(more than > 1999999) accounts found (%1 Ether)</div>
            <div>
                <em>Displaying the last %2 records only</em>
            </div>
        </div>
        <th-block data-th-replace=fragments::pagination></th-block>
    </div>

    <div class="container mt20">
        <table class=table>
            <tr>
                <th>Rank</th>
                <th>Address</th>
                <th>Balance</th>
                <th>Percentage</th>
                <th>TxCount</th>
            </tr>

            <tr>
                <td>%Rank</td>
                <td>
                    <a href=address.html?id=%Address>%Address</a>
                </td>
                <td>%Balance</td>
                <td>%Percentage</td>
                <td>%TxCount</td>
            </tr>
            <tr>
                <td>%Rank</td>
                <td>
                    <a href=address.html?id=%Address>%Address</a>
                    <span> | whatever</span>
                </td>
                <td>%Balance</td>
                <td>%Percentage</td>
                <td>%TxCount</td>
            </tr>
            <tr>
                <td>%Rank</td>
                <td>
                    <a href=address.html?id=%Address>%Address</a>
                    <span> | whatever</span>
                </td>
                <td>%Balance</td>
                <td>%Percentage</td>
                <td>%TxCount</td>
            </tr>
            <tr>
                <td>%Rank</td>
                <td>
                    <a href=address.html?id=%Address>%Address</a>
                </td>
                <td>%Balance</td>
                <td>%Percentage</td>
                <td>%TxCount</td>
            </tr>
            <tr>
                <td>%Rank</td>
                <td>
                    <a href=address.html?id=%Address>%Address</a>
                </td>
                <td>%Balance</td>
                <td>%Percentage</td>
                <td>%TxCount</td>
            </tr>



        </table>
    </div>

    <div class=container>
        <th-block data-th-replace=fragments::pagination></th-block>
    </div>
    <th-block data-th-replace=fragments::footer></th-block>
    <th-block data-th-replace=fragments::scripts></th-block>
</body>
</html>