<!doctype html>
<html>
<head>
    <th-block data-th-replace=fragments::head></th-block>
    <style>
        td.out {
            width: 50px;
        }

        td.out::before {
            background-color: #e67e22;
            border-radius: 4px;
            color: white;
            content: "out";
            padding: 3px 5px;
        }

        .container .table th {
            border-top: 0;
        }

        .container .title {
            overflow: auto;
        }

        .txfee {
            color: silver;
        }
    </style>
    <title>Nebulas Address</title>
</head>
<body>
    <th-block data-th-replace=fragments::header></th-block>
    <th-block data-th-replace=fragments::title-and-breadcrumb></th-block>

    <div class="c333 container">
        <table class="table">
            <tr>
                <th>
                    Overview
                    <span class="c777"> | Ethermine</span>
                </th>
                <th class="text-right">
                    * uncomment this img tag
                    <!-- <img src=%qrcode> -->
                </th>
            </tr>
            <tr>
                <td>ETH Balance:</td>
                <td th:text="${address.currentBalance.toPlainString()}">%xxx</td>
            </tr>
            <tr>
                <td>Ether ETH USD Value:</td>
                <td>%xxx</td>
            </tr>
            <tr th:if="${minedBlkCnt >0}">
                <td>Mined:</td>
                <td th:text="${minedBlkCnt+' blocks'}">%xxx</td>
            </tr>
            <tr>
                <td>No Of Transactions:</td>
                <td th:text="${txCnt+' txns'}">%xxx</td>
            </tr>
        </table>
    </div>

    <div class="container">
        <ul class="nav nav-tabs">
            <!--
            when a tab is shown, it's tab button (.nav-tabs > li) has "active" class, i.e. <li class="active">
            <a> inside active tab can not be clicked, so it does not have href

            NOTE: if url query does not contain "tab" parameter, 302 to ?tab=transactions

            -->
            <li role="presentation" th:class="${part=='tx'?'active':''}">
                <a th:href="@{/address/{hash}(hash=${address.hash})}">Transactions</a>
            </li>
            <li role="presentation" th:class="${part=='mine'?'active':''}" th:if="${minedBlkCnt >0}">
                <a th:href="@{/address/{hash}?part=mine(hash=${address.hash})}">Mined Blocks</a>
            </li>
        </ul>
    </div>

    <!--    Transactions
    ============================================================ -->
    <div class="container" th:if="${part == 'tx'}">
        <div class="mt20 title" th:if="${txCnt <= 25}">
            <span class="c333 glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
            Latest
            <span th:text="${txCnt}"></span> txns
            <span th:if="${pendingTxCnt >0}">(+
                <a th:text="${pendingTxCnt+' PendingTxn'}"></a>) </span>
            <a class="btn btn-default pull-right" th:href="@{/tx?a={hash}(hash=${address.hash})}" href="txs.html?id=%id-from-url" role="button">View All</a>>
        </div>
        <div class="mt20 title" th:if="${txCnt > 25 }">
            <span class="c333 glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
            Latest 25 txns from a total Of
            <a href="txs.html" th:text="${txCnt + ' transactions'}">%2</a>
            <span th:if="${pendingTxCnt >0}">(+
                <a th:text="${pendingTxCnt+' PendingTxn'}"></a>) </span>
            <a class="btn btn-default pull-right" th:href="@{/tx?a={hash}(hash=${address.hash})}" href="txs.html?id=%id-from-url" role="button">View All</a>>
        </div>

        <tr th:each="tx, iterStat: ${ txList }">
            <td>
                <a href="tx.html?id=%TxHash" th:href="@{/tx/{hash}(hash=${ tx.hash })}" th:text="${pageStringUtil.replace(tx.hash,20,'...')}">%TxHash</a>
            </td>
            <td>
                <a href="block.html?id=%Block" th:if="${ tx.blockHeight > 0 }" th:href="@{/block/{ height }(height=${ tx.blockHeight })}" th:text="${tx.blockHeight}">%Block</a>
                <span th:if="${tx.blockHeight == 0 }">(pending)</span>
            </td>
            <td>%Age</td>
            <td th:text="${pageStringUtil.replace(tx.from,20,'...')}">%From</td>
            <td class="out text-uppercase"></td>
            <td>
                <a href="address.html?id=%To" th:text="${pageStringUtil.replace(tx.to,20,'...')}">%To</a>
            </td>
            <td th:text="${tx.value}">%Value</td>
            <td class="txfee" th:text="${tx.blockHeight == 0?'(pending)':tx.getTxFee()}">%TxFee</td>
        </tr>
        </table>
    </div>

    <!--    Mined Blocks
    ============================================================ -->
    <div class="container" th:if="${part == 'mine'}">
        <div class="mt20 title" th:if="${minedBlkCnt <=25}">
            <span class="c333 glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
            Latest
            <span th:text="${minedBlkCnt}"></span> blocks
            <a class="btn btn-default pull-right" href="blocks.html?id=%id-from-url" role="button">View All</a>
        </div>
        <div class="mt20 title" th:if="${minedBlkCnt > 25}">
            <span class="c333 glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
            Latest 25 blocks (From a total of
            <a href="blocks.html?m=%id-from-url" th:text="${minedBlkCnt +' blocks'}">%2</a>)
            <a class="btn btn-default pull-right" href="blocks.html?id=%id-from-url" role="button">View All</a>
        </div>

        <!--    Mined Blocks
    ============================================================ -->
        <div class="container" th:if="${part == 'mine'}">
            <div class="mt20 title">
                <span class="c333 glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
                Latest
                <span th:text="${minedBlkCnt > 25 ? 25 : minedBlkCnt}"></span> blocks (From a total of
                <a href="blocks.html?m=%id-from-url" th:text="${minedBlkCnt +' blocks'}">%2</a>)
                <a class="btn btn-default pull-right" href="blocks.html?id=%id-from-url" role="button">View All</a>
            </div>

            <table class="mt20 table">
                <tr>
                    <th>Block</th>
                    <th>Age</th>
                    <th>txn</th>
                    <th>GasUsed</th>
                    <th>Reward</th>
                </tr>

                <tr th:each="blk,iterStat : ${minedBlkList}">
                    <td>
                        <a th:href="/block/{height}(height=${blk.height})" th:text="${blk.height}">%Block</a>
                    </td>
                    <td>%Age</td>
                    <td th:text="${txCntMap!=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).txCnt:0}">%txn
                    </td>
                    <td th:text="${txCntMap!=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).gasUsed:0}">
                        %GasUsed
                    </td>
                    <td>%Reward</td>
                </tr>
            </table>
        </div>

        <tr th:each="blk,iterStat : ${minedBlkList}">
            <td>
                <a th:href="@{/block/{height}(height=${blk.height})}" th:text="${blk.height}">%Block</a>
            </td>
            <td>%Age</td>
            <td th:text="${txCntMap!=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).txCnt:0}">%txn
            </td>
            <td th:text="${txCntMap!=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).gasUsed:0}">
                %GasUsed
            </td>
            <td>%Reward</td>
        </tr>
        </table>
    </div>
    <th-block data-th-replace=fragments::footer></th-block>
    <th-block data-th-replace=fragments::scripts></th-block>
</body>
</html>