<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../lib/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        td.out {
            width: 50px;
        }

        td.out::before {
            background-color: #e67e22;
            border-radius: 4px;
            color: white;
            content: "out";
            padding: 3px 5px;
        }

        .container .table th {
            border-top: 0;
        }

        .container .title {
            overflow: auto;
        }

        .txfee {
            color: silver;
        }
    </style>
    <title>Address</title>
</head>
<body>
<th:block th:replace="fragments::header(currentNav='account')"/>

<!--    title and breadcrumb
    ============================================================ -->
<div class="title-and-breadcrumb">
    <div class="container">
        <h4 class="pull-left" th:text="${'Address '+address.hash}">Address</h4>
        <ol class="breadcrumb pull-right">
            <li>Home</li>
            <li>
                <a href="accounts.html">Normal Accounts</a>
            </li>
            <li class="active">Address</li>
        </ol>
    </div>
</div>

<div class="c333 container">
    <table class="table">
        <tr>
            <th>
                Overview
                <span th:if="${address.alias !=null}" class="c777" th:text="${'|'+address.alias}"> | Ethermine</span>
            </th>
            
        </tr>
        <tr>
            <td>ETH Balance:</td>
            <td th:text="${address.currentBalance.toPlainString()}">%xxx</td>
        </tr>
        <tr th:if="${minedBlkCnt >0}">
            <td>Mined:</td>
            <td th:text="${minedBlkCnt+' blocks'}">%xxx</td>
        </tr>
        <tr>
            <td>No Of Transactions:</td>
            <td th:text="${txCnt+' txns'}">%xxx</td>
        </tr>
    </table>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <!--
            when a tab is shown, it's tab button (.nav-tabs > li) has "active" class, i.e. <li class="active">
            <a> inside active tab can not be clicked, so it does not have href

            NOTE: if url query does not contain "tab" parameter, 302 to ?tab=transactions

            -->
        <li role="presentation" th:class="${part=='tx'?'active':''}">
            <a th:href="@{/address/{hash}(hash=${address.hash})}">Transactions</a>
        </li>
        <li role="presentation" th:class="${part=='mine'?'active':''}" th:if="${minedBlkCnt >0}">
            <a th:href="@{/address/{hash}?part=mine(hash=${address.hash})}">Mined Blocks</a>
        </li>
    </ul>
</div>

<!--    Transactions
    ============================================================ -->
<div class="container" th:if="${part == 'tx'}">
    <div class="mt20 title" th:if="${txCnt <= 25}">
        <span class="c333 glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
        Latest
        <span th:text="${txCnt}"></span> txns
        <span th:if="${pendingTxCnt >0}">(+
                <a th:href="${'/txsPending?a='+address.hash}" th:text="${pendingTxCnt+' PendingTxn'}"></a>) </span>
        <a class="btn btn-default pull-right" th:href="@{/tx?a={hash}(hash=${address.hash})}" href="txs.html?id=%id-from-url" role="button">View All</a>>
    </div>
    <div class="mt20 title" th:if="${txCnt > 25 }">
        <span class="c333 glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
        Latest 25 txns from a total Of
        <a href="txs.html" th:href="@{/txs?a={hash}(hash=${address.hash})}" th:text="${txCnt + ' transactions'}">%2</a>
        <span th:if="${pendingTxCnt >0}">(+
                <a th:href="${'/txsPending?a='+address.hash}" th:text="${pendingTxCnt+' PendingTxn'}"></a>) </span>
        <a class="btn btn-default pull-right" th:href="@{/txs?a={hash}(hash=${address.hash})}" href="txs.html?id=%id-from-url" role="button">View All</a>>
    </div>

    <table class="mt20 table">
        <tr>
            <th>TxHash</th>
            <th>Block</th>
            <th>Age</th>
            <th>From</th>
            <th></th>
            <th>To</th>
            <th>Value</th>
            <th class="txfee">[TxFee]</th>
        </tr>

        <tr th:each="tx,iterStat : ${txList}">
            <td>
                <a href="tx.html?id=%TxHash" th:href="@{/tx/{hash}(hash=${tx.hash})}" th:text="${pageStringUtil.replace(tx.hash,20,'...')}">%TxHash</a>
            </td>
            <td>
                <a href="block.html?id=%Block" th:if="${tx.blockHeight> 0 }" th:href="@{/block/{ height }(height=${ tx.blockHeight })}" th:text="${tx.blockHeight}">%Block</a>
                <span th:if="${tx.blockHeight == 0 }">(pending)</span>
            </td>
            <td th:text="${#dates.format(tx.timestamp, 'yyyy-mm-dd hh:MM:ss')}">%Age</td>
            <td th:text="${pageStringUtil.replace(tx.from,20,'...')}">%From</td>
            <td class="out text-uppercase"></td>
            <td>
                <a href="address.html?id=%To" th:href="@{/address/{hash}(hash=${tx.to})}" th:text="${pageStringUtil.replace(tx.to,20,'...')}">%To</a>
            </td>
            <td th:text="${tx.value}">%Value</td>
            <td class="txfee" th:text="${tx.blockHeight == 0?'(pending)':tx.getTxFee()}">%TxFee</td>
        </tr>
    </table>
</div>

<!--    Mined Blocks
    ============================================================ -->
<div class="container" th:if="${part == 'mine'}">
    <div class="mt20 title">
        <span class="c333 glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
        Latest
        <span th:text="${minedBlkCnt > 25 ? 25 : minedBlkCnt}"></span> blocks (From a total of
        <a href="blocks.html?m=%id-from-url" th:text="${minedBlkCnt +' blocks'}">%2</a>)
        <a class="btn btn-default pull-right" href="blocks.html?id=%id-from-url" role="button">View All</a>
    </div>

    <table class="mt20 table">
        <tr>
            <th>Block</th>
            <th>Age</th>
            <th>txn</th>
            <th>GasUsed</th>
        </tr>

        <tr th:each="blk,iterStat : ${minedBlkList}">
            <td>
                <a th:href="@{/block/{height}(height=${blk.height})}" th:text="${blk.height}">%Block</a>
            </td>
            <td th:text="${#dates.format(blk.timestamp, 'yyyy-mm-dd hh:MM:ss')}">%Age</td>
            <td th:text="${txCntMap!=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).txCnt:0}">%txn
            </td>
            <td th:text="${txCntMap!=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).gasUsed:0}">
                %GasUsed
            </td>
        </tr>
    </table>
</div>

<!--    Mined Uncles
    ============================================================ -->
<!-- <div class="container">
    <div class="mt20 title">
        <span class="c333 glyphicon glyphicon-sort-by-attributes-alt" aria-hidden="true"></span>
        Latest %1 uncles (From a total of
        <a href="uncles.html?id=%id-from-url">%2</a> with %3 mined)
        <a class="btn btn-default pull-right" href="uncles.html?id=%id-from-url" role="button">View All</a>
    </div>

    <table class="mt20 table">
        <tr>
            <th>Block</th>
            <th>Age</th>
            <th>UncleNumber</th>
            <th>Difficulty</th>
            <th>GasUsed</th>
            <th>Reward</th>
        </tr>

        <tr>
            <td>
                <a href="block.html?id=%Block">%Block</a>
            </td>
            <td>%Age</td>
            <td>
                <a href="uncle.html?id=%perhaps-uncle-id">%UncleNumber</a>
            </td>
            <td>%Difficulty</td>
            <td>%GasUsed</td>
            <td>%Reward</td>
        </tr>
    </table>
</div> -->
<th:block th:replace="fragments::footer"></th:block>
</body>
<script src="/webjars/jquery/3.3.1/jquery.min.js"
        th:src="@{${baseUrl + '/webjars/jquery/3.3.1/jquery.min.js'}}"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"
        th:src="@{${baseUrl + '/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js'}}"></script>
</html>