<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragments::head"></th:block>
    <style>
        .info-and-pagination a {
            color: inherit;
            text-decoration: none;
        }

        td,
        th {
            border-top-color: #ddd;
        }

        .glyphicon-arrow-right {
            color: darkgreen;
        }

        .glyphicon-btc {
            color: goldenrod;
        }

        .glyphicon-ok {
            color: green;
        }

        .glyphicon-remove {
            color: firebrick;
        }
    </style>
</head>
<body>
<th:block th:replace="fragments::header(currentNav='bc')"></th:block>
<div class="title-and-breadcrumb">
    <div class="container">
        <h4 class="pull-left">Transactions</h4>
        <h5 th:if="${type == 'block'}" th:text="${' ::For Block '+blkHeight}"></h5>
        <h5 th:if="${type == 'address'}" th:text="${' ::For Address '+addressHash}"></h5>
        <ol class="breadcrumb pull-right">
            <li>Home</li>
            <li class="active">Transactions</li>
        </ol>
    </div>
</div>

<div class="container info-and-pagination">
    <div class="pull-left">
        <!--<div class="mt20">Sponsored Link: Winding Tree: Decentralized Travel Distribution. Trusted by Lufthansa, SWISS, Air New Zealand, and more!-->
        <!--<a href="#" style="color:rgb(76, 32, 133);">Join Now!</a>-->
        <!--</div>-->
        <div class="mt20" th:if="${txnCnt >500}">
            More than >
            <span th:text="${txnCnt}"></span> transactions found (showing the last 500k records)
        </div>
        <div class="mt20" th:if="${txnCnt <=500}">
            A total of
            <span th:text="${txnCnt}"></span> transactions found
        </div>
    </div>
    <th:block th:replace="fragments::pagination(currentPage=${currentPage},totalPage=${totalPage},baseUrl='/txs'+${type=='address'?'?a='+addressHash:''}+${type=='block'?'?block='+blkHeight:''})"/>
</div>

<div class="container mt20">
    <table class="table">
        <tr>
            <th>TxHash</th>
            <th>Block</th>
            <th>Age</th>
            <th>From</th>
            <th></th>
            <th>To</th>
            <th>Value</th>
            <th>[TxFee]</th>
        </tr>
        <tr th:each="txn,iterStat : ${txnList}">
            <td class="ne">
                <a href="block.html?id=%123456" th:href="@{/tx/{hash}(hash=${txn.hash})}"
                   th:text="${pageStringUtil.replace(txn.hash,20,'...')}">%TxHash</a>
            </td>
            <td class="ne">
                <a th:href="@{/block/{height}(height=${txn.blockHeight})}"
                   th:text="${pageStringUtil.replace(txn.blockHeight,20,'...')}"></a>
            </td>
            <td th:text="${#dates.format(txn.timestamp, 'yyyy-mm-dd hh:MM:ss')}">
                2 mins ago
            </td>
            <td>
                <a href="address.html?id=%From" th:href="@{/address/{hash}(hash=${txn.from})}"
                   th:text="${pageStringUtil.replace(txn.from,20,'...')}">%From</a>
            </td>
            <td>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
            </td>
            <td>
                <a href="address.html?id=%To" th:href="@{/address/{hash}(hash=${txn.to})}"
                   th:text="${pageStringUtil.replace(txn.to,20,'...')}">%To</a>
            </td>
            <td th:text="${txn.value}">%Value</td>
            <td th:text="${txn.getTxFee()}">%txFee</td>
        </tr>
    </table>
</div>

<div class=container>
    <th:block th:replace="fragments::pagination(currentPage=${currentPage},totalPage=${totalPage},baseUrl='/txs')"/>
</div>
<th-block th:replace="fragments::footer"></th-block>
</body>
<th-block th:replace="fragments::scripts"></th-block>
</html>