.btn {
    background: black;
    color: white;
    margin-top: 1rem;
}

.node_status {
    min-height:220px;
}
.green{
	background:green;
}
.red{
	background:red;
}


.div_node{
	color:white;
	width: 100%;
	height: 55px;
	line-height: 55px;
	font-weight:bold;
	font-size:1.2rem;
	text-align: center;
	border:1px solid #a1a1a1;
	border-radius:5px;
	-moz-border-radius:5px; /* older Firefox */
}


.span_history{
	width:15px;
	height:80px;
	background:green;
	display:-moz-inline-box;
	display:inline-block;
	border-radius:2px;
	margin-left:1px;
	margin-right:1px;
}
.div_node_full{
	color:white;
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-weight:bold;
	font-size:1.2rem;
	text-align: center;
	border:1px solid #a1a1a1;
	border-radius:5px;
	-moz-border-radius:5px; /* older Firefox */
}
.div_node_history{
	width: 100%;
	height: 80px;
	line-height: 80px;
	font-weight:bold;
	font-size:1.2rem;
	text-align: center;
	border:0px solid #a1a1a1;
	border-radius:5px;
	-moz-border-radius:5px; /* older Firefox */
}
.table th, .table td {  
	text-align: center;  
}  
.state {
    margin-top: 2rem;
}