<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name="context_name" value="explorer"/>

    <appender name="explorer_console_log" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="explorer_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>explorer.log</file>
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>explorer.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger] - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="data_init_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>data_init.log</file>
        <Prudent>true</Prudent>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>data_init.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>90</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level [%logger] - %msg%n</pattern>
            <immediateFlush>true</immediateFlush>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <logger name="io.nebulas.explorer" level="INFO"/>
    <logger name="io.nebulas.explorer.repository" level="INFO"/>
    <logger name="org.mybatis.spring" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>

    <logger name="data_init" additivity="false" level="info">
        <appender-ref ref="data_init_log"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="explorer_log"/>
    </root>

</configuration>