<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" th:href="@{${baseUrl + '/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css'}}"/>
    <link rel="stylesheet" href="/css/common.css" th:href="@{${baseUrl+'/css/common.css'}}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    </style>
    <title>Blocks</title>
</head>
<body>
<th:block th:replace="fragments::header(currentNav='bc')"></th:block>

<!--    title and breadcrumb
    ============================================================ -->
<div class="title-and-breadcrumb">
    <div class="container">
        <h4 class="pull-left">Blocks</h4>
        <ol class="breadcrumb pull-right">
            <li>Home</li>
            <li class="active">Blocks</li>
        </ol>
    </div>
</div>

<!--    info and pagination
    ============================================================ -->
<div class="container info-and-pagination">
    <div class="pull-left">
        <div class=mt30 th:if="${blockPageIterator.data !=null && blockPageIterator.data.size() >0}">
            Showing Block (<span th:text="${blockPageIterator.data.get(blockPageIterator.data.size()-1).height}"></span> to
            <span th:text="${blockPageIterator.data.get(0).height}"></span>) out of <span th:text="${blockPageIterator.totalCount}"></span> total blocks</div>
    </div>

    <th:block th:replace="fragments::pagination(currentPage=${blockPageIterator.page},totalPage=${blockPageIterator.totalPage},baseUrl='/blocks')"/>
</div>

<div class="container mt20">
    <table class="table">
        <tr>
            <th>Height</th>
            <th>Age</th>
            <th>txn</th>
            <th>Miner</th>
            <th>GasUsed</th>
            <th>GasLimit</th>
            <th>Avg.GasPrice</th>
        </tr>

        <tr th:each="blk,iterStat : ${blockPageIterator.data}">
            <td>
                <a th:href="@{/block/{height}(height=${blk.height})}" th:text="${blk.height}">%Height</a>
            </td>
            <td th:text="${#dates.format(blk.timestamp, 'yyyy-mm-dd hh:MM:ss')}">%Age</td>
            <td>
                <a th:href="@{/txs(block=${blk.height})}" th:text="${txCntMap !=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).txCnt:0}">%txn</a>
            </td>
            <td>
                <a th:href="@{/address/{hash}(hash=${blk.miner})}" th:text="${blk.miner}">%Miner</a>
            </td>
            <td th:text="${txCntMap !=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).gasUsed:''}">%GasUsed</td>
            <td th:text="${txCntMap !=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).gasLimit:''}">%GasLimit</td>
            <td th:text="${txCntMap !=null && txCntMap.get(blk.height) !=null?txCntMap.get(blk.height).avgGasPrice:''}">%Avg.GasPrice</td>
        </tr>

    </table>
</div>

<div class="container">
    <th:block th:replace="fragments::pagination(currentPage=${blockPageIterator.page},totalPage=${blockPageIterator.totalPage},baseUrl='/blocks')"/>
</div>
<th:block th:replace="fragments::footer"/>
</body>
<th:block th:replace="fragments::scripts"/>
</html>