<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th-block data-th-replace=fragments::head></th-block>
    <style>
        td .pagination {
            margin: 0;
            vertical-align: top;
        }

        textarea {
            width: 100%;
        }

        tr>td:first-child::after {
            content: ":";
        }

        .table tbody tr td {
            border: 0;
            vertical-align: middle;
        }
    </style>
    <title>Block</title>
</head>
<body>
<th:block th:replace="fragments::header(currentNav='bc')"></th:block>
    <div class="container">
        <ul class="nav nav-tabs" id="myTab">
            <li class="active">
                <a>Overview</a>
            </li>
            <!--<li>-->
                <!--<a href="?tab=txsInternal">Comments</a>-->
            <!--</li>-->
        </ul>
    </div>
    <div class="container">
        <h3>Block Information</h3>
    </div>
    <!--    tabs
        ============================================================ -->
    <div class="container">
        <div class="tab">
            <table class="table">
                <tr>
                    <td>Height</td>
                    <td>
                        <nav aria-label="Page navigation" class="navgation-tab">
                            <ul class="pagination">
                                <li >
                                    <a href="#" th:href="@{/block/{height}(height=${block.height-1})}"  aria-label="Previous" disabled="true">
                                        <span aria-hidden="true">&lt; Prev</span>
                                    </a>
                                </li>
                                <li>
                                    <a href=# data-th-text=${block.height}></a>
                                </li>
                                <li>
                                    <a href="#" th:href="@{/block/{height}(height=${block.height+1})}" aria-label="Next">
                                        <span aria-hidden="true">Next &gt;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
                <tr>
                    <td>TimeStamp</td>
                    <td th:text="${#dates.format(block.timestamp, 'yyyy-mm-dd hh:MM:ss')}"></td>
                </tr>
                <tr>
                    <td>Transactions</td>
                    <td>
                        <a href="txs.html?block=%Block" data-th-text="${txCnt +' transactions'}">transactions</a> in this block
                    </td>
                </tr>
                <tr>
                    <td>Hash</td>
                    <td data-th-text=${block.hash}></td>
                </tr>
                <tr>
                    <td>Parent Hash</td>
                    <td>
                        <a href=# data-th-text=${block.parentHash}></a>
                    </td>
                </tr>
                <tr th:if="${miner !=null}">
                    <td>Mined By</td>
                    <td>
                        <a href="address.html?mined" data-th-text=${miner.hash}></a>
                        <span th:if="${miner.alias !=null}" th:text="${miner.alias}"></span>
                    </td>
                </tr>
                <tr>
                    <td>Size</td>
                    <td>35779 bytes</td>
                </tr>
                <tr>
                    <td>Gas Used</td>
                    <td ><span th:text="${blkGasUsed}"> 7,984,916</span> <span th:if="${blkGasUsedRate !='0'}" th:text="'('+${blkGasUsedRate+'%)'}">(99.81%)</span></td>
                </tr>
                <tr>
                    <td>Gas Limit</td>
                    <td th:text="${blkGasLimit}">8,000,029</td>
                </tr>
                <tr>
                    <td>Nonce</td>
                    <td th:text="${block.nonce}">0x889303e4c001686f3e</td>
                </tr>
                <!--<tr>-->
                    <!--<td>Block Reward</td>-->
                    <!--<td>-->
                        <!--3.27657259285203186 Ether (3 + 0.27657259285203186)-->
                    <!--</td>-->
                <!--</tr>-->

            </table>
        </div>
    </div>

    <th-block data-th-replace=fragments::footer></th-block>
</body>
<th-block data-th-replace=fragments::scripts></th-block>
</html>